# Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env

# Testes
.pytest_cache/
.coverage
htmlcov/
